doctype 5
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='')
        meta(name='author', content='')
        link(rel='shortcut icon', href='#{pathToAssets}/assets/ico/favicon.png')
        title James Pearson's website

        // Bootstrap core CSS
        link(href='#{pathToAssets}/dist/css/bootstrap.css', rel='stylesheet')

        // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
        //if lt IE 9
              script(src='#{pathToAssets}/assets/js/html5shiv.js')
              script(src='#{pathToAssets}/assets/js/respond.min.js')

        // Custom styles for this template
        link(href='#{pathToSelectedTemplateWithinBootstrap}/carousel.css', rel='stylesheet')
        //NAVBAR

    body
        #myModal.modal.fade.in(id="myModal" )
            .modal-dialog.wide-modal
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                        h4.myModalLabel.modal-title
                          | Contact me
                    .modal-body
                      //form.contact(action='/contact', name='contact', id='contact', method='post')
                      //    p
                      //      label(for='name', class='label label-default') Name:
                      //      br
                      //      input.input-xlarge(name='name', type='text', value='', id='name')
                      //    p
                      //      label(for='email', class='label label-default') Email:
                      //      br
                      //      input.input-xlarge(name='email', type='text', value='', id='email')
                      //    p
                      //      label(for='message', class='label label-default') Message:
                      //      br
                      //      textarea.input-xlarge(name='message', cols='40', rows='10', id='message')
                      //    p
                      //      #emailResponse.label
                    //.modal-footer
                    //    input(name='submit', type='submit', value='Send', id='submit', class='btn btn-success')
                    //    button.btn.btn-primary(type='button', data-dismiss='modal') Close

                    form.contact(action='/contact', name='contact', id='contact', method='post')
                          p
                            label(for='name', class='label label-default') :
                            br
                            |
                          p
                            label(for='email', class='label label-default') Email:
                            br

                          p
                            label(for='message', class='label label-default') Message:
                            br
                            textarea.input-xlarge(name='message', cols='40', rows='10', id='message')
                          p
                            #emailResponse.label
                    .modal-footer
                        input(name='submit', type='submit', value='Send', id='submit', class='btn btn-success')
                        button.btn.btn-primary(type='button', data-dismiss='modal') Close





        .navbar-wrapper
            .container
                .navbar.navbar-inverse.navbar-static-top
                    .container
                        .navbar-header
                            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            a.navbar-brand(href='#') Dr James Pearson
                        .navbar-collapse.collapse
                            ul.nav.navbar-nav
                                li.active
                                    a(href='#') Home
                                li
                                    :verbatim
                                       <a href="http://www.google.com/recaptcha/mailhide/d?k=01M_Etob5hRqk-Js91sEGXwQ==&amp;c=htbT0nzM02sWi8HbXdNKFCMDWOroKDGjXjLcfNa30oU=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d01M_Etob5hRqk-Js91sEGXwQ\x3d\x3d\x26c\x3dhtbT0nzM02sWi8HbXdNKFCMDWOroKDGjXjLcfNa30oU\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">Contact</a>

                                li
                                    a(href='https://www.linkedin.com/in/jawap') LinkedIn


        //
            Carousel
        #myCarousel.carousel.slide
            // Indicators
            ol.carousel-indicators
                li.active(data-target='#myCarousel', data-slide-to='0')
                li(data-target='#myCarousel', data-slide-to='1')
                li(data-target='#myCarousel', data-slide-to='2')
            .carousel-inner
                .item.active
                    img(src='https://dl.dropboxusercontent.com/s/18v6fx2veatocpf/origami_ghost.jpg', alt='First slide', max-width= 'none').img-responsive
                    .container
                        .carousel-caption
                            h1 Computer vision&nbsp;
                              span.text-muted and video analysis
                            p
                              | I have been working and researching in the field for several years in industry and academia, specialising in video compression, analysis and 3D reconstruction.
                            p
                              a.btn.btn-large.btn-primary(href='#about') About
                .item
                    img(src='https://dl.dropboxusercontent.com/s/18v6fx2veatocpf/origami_ghost.jpg', alt='Second slide', max-width= 'none').img-responsive
                    .container
                        .carousel-caption
                            h1 NodeJs&nbsp;
                              span.text-muted and MongoDB
                            p
                                | Recently I have been working with server side NodeJS, developing large scale architecture used by thousands of people around
                                | the world.
                            p
                                a.btn.btn-large.btn-primary(href='#what') What I've done
                .item
                    img(src='https://dl.dropboxusercontent.com/s/18v6fx2veatocpf/origami_ghost.jpg', alt='Second slide', max-width= 'none').img-responsive
                    .container
                        .carousel-caption
                            h1 Academic research&nbsp;
                              span.text-muted and patents
                            p
                                | I have a number of commercial patents and academic papers in the field of video/image analysis and 3D reconstruction/view synthesis.
                            p
                                a.btn.btn-large.btn-primary(href='#papers') Patents and papers
            a.left.carousel-control(href='#myCarousel', data-slide='prev')
                span.glyphicon.glyphicon-chevron-left
            a.right.carousel-control(href='#myCarousel', data-slide='next')
                span.glyphicon.glyphicon-chevron-right
            // /.carousel
        //
            Marketing messaging and featurettes

        // Wrap the rest of the page in another container to center all the content.
        .container.marketing

            // Three columns of text below the carousel
            .row
                .col-lg-4
                    img.img-circle(src='assets/images/jump.jpg', alt='Generic placeholder image')
                    h2 About me
                    p
                        | I enjoy photography, cooking and eating Japanese food. I am also far too excited by video and image analysis for my own good
                    p
                        a.btn.btn-default(href='#about') View details »
                // /.col-lg-4

                .col-lg-4
                    img.img-circle(src='assets/images/tree_small.jpg', alt='Generic placeholder image')
                    h2 What I do
                    p
                        | Currently I am contracting, previously I was CTO at
                        | <a href="http://vyclone.com">Vyclone</a>
                        | developing a collaborative cloud based video platform using AWS and server-side NodeJS. Before that I was a PhD researcher at
                        | <a href="http://www3.imperial.ac.uk/electricalengineering">Imperial College London</a> (Awarded in 2014)

                    p
                        a.btn.btn-default(href='#what') View details »
                // /.col-lg-4

                .col-lg-4
                    img.img-circle(src='assets/images/tea.jpg', alt='Generic placeholder image')
                    h2 Publications and patents
                    p
                        | I have a number of commercial patents and academic papers in the field of video/image analysis and 3D reconstruction/view synthesis
                    p
                        a.btn.btn-default(href='#papers') View details »
                // /.col-lg-4
            // /.row
            a#about
            // START THE FEATURETTES
            hr.featurette-divider
            .row.featurette
                .col-md-7
                    h2.featurette-heading
                        | About Me.&nbsp;
                        span.text-muted Work summary.
                    p.lead
                        ul
                            li Several years of experience developing advanced computer-vision algorithms in both academic and industrial environments.
                            li A focus on the practical, efficient implementation of algorithms.
                            li Worked on several technical proof-of-concept projects (leading to several patents), as well as providing bespoke systems for large corporations (Fox, BBC, Selfridges).
                            li Real-world experience in designing scalable server architectures and development for cloud video processing.
                            li Practical experience of team leadership and wider business aspects of a start-up company.
                        h3.text-muted Employment record
                        ul#Employment
                            li <b>Jan 2016 – Present</b> 		Ad-hoc consultancy
                            li <b>June 2015 – Jan 2016</b> 		Chief Technology Officer (CTO) - Vyclone Inc
                            li <b>April 2015 – May 2015</b> 	Contracted to establish commercial viability of research spin-off – 					Imperial College
                            li <b>Nov 2014 – Mar 2015</b> 	Travel sabbatical and ad-hoc consultancy
                            li <b>Sept 2013 – Oct 2014</b> 	Chief Video Scientist/ CTO – Vyclone Inc
                            li <b>Sept 2009 – Sept 2013</b> 	PhD student in Electrical and Electronic Engineering Department at 				Imperial College – Thesis Title  “Plenoptic Layer-Based Modeling for 				Image Based Rendering”
                            li <b>Sept 2004 – Sept 2005</b> 	Student engineer – Algorithms Group (R&D) Snell Ltd (formerly Snell 				and Wilcox). Associated summer intern work in 2006 – 2008

                .col-md-5
                    img.featurette-image.img-responsive(src='assets/images/hallasan_1.jpg', alt='Generic placeholder image')
            hr.featurette-divider
            a#what
            .row.featurette
                .col-md-5
                    img.featurette-image.img-responsive(src='assets/images/multiPlaneEx.png', alt='Multi-view camera rig')
                    p
                      img.img-responsive(src='assets/images/dennim.jpg', alt='DENIM collage')
                .col-md-7
                    h2.featurette-heading
                        | Projects.&nbsp;
                        span.text-muted Some interesting work I've done.
                    p.lead
                        | My background is in computer vision, particularly video analysis and 3D view interpolation. Recently I have been doing more work on large scale video processing and streaming architecture with NodeJS and Mongo.
                    h3.text-muted Industrial
                    p
                      | <b>(2014) Vyclone</b> As CTO of Vyclone I further developed the architecture and provided the technical direction of the company.
                      |I was the technical lead on a collaboration with FOX developing an interactive tie-in for their So You Think You Can Dance show (9 million viewers) allowing viewers at home to film themselves dancing with stars from the show and the producers to pick the best of the submitted videos to air during the following week.
                    p
                      |I also collaborated with the BBC (Internationally renowned Public Broadcaster) on making the world's largest simultaneous music video with
                      |thousands of people all around the world contributing on a live radio broadcast on the show Dan and Phil.
                      |In addition I have worked with Sony, One Direction, Madonna and Ed Sheeran on large crowd sourced music videos and promotions.
                    p
                      |<b>(2012) <a href="https://www.youtube.com/watch?v=EHP3RAz6jL0">DENIM</a></b> (Working with the Rumpus Room for Selfridges) Developed an ambitious multi-camera synthesis algorithm for a photo-shoot for Selfridges' upcoming DENIM line. Taking user-generated content from members of the public and using 3D image triangulation and manipulation to stitch them together into a coherent patchwork for the final publicity shot used in their advertising campaigns.
                    h3.text-muted Academic
                    p
                      |  My PhD was on the subject of “Plenoptic Layer-Based Modeling for Image Based Rendering”. Image based rendering is an attractive alternative to model based rendering for generating novel views due to its lower complexity and potential for photo-realistic results. In
                      |  order to reduce the number of images necessary for alias-free rendering, some geometric
                      |  information for the 3D scene is normally necessary.
                    p
                      |  Because the assumptions underlying Plenoptic theory are not fully met in practice,
                      |  some aliasing is always present in real world examples. I showed theoretically and empirically that key predictions from Plenoptic sampling theory were applicable to real world cases. Based on this, I developed a fast unsupervised layer-based method for synthesising an arbitrary new view of a scene from existing views.
                      |  The amount of geometry needed was estimated using Plenoptic theory. <a href='assets/doc/James_Pearson_thesis_Plenoptic_Layer_Based_Modeling.pdf'> More ... </a>

            hr.featurette-divider
            a#papers
            .row.featurette
                .col-md-7
                    h2.featurette-heading
                        | Publications&nbsp;
                        span.text-muted and patents.
                    p.lead I have a number of commercial patents and academic papers in the field of video/image analysis and 3D reconstruction/view synthesis.
                        h3.text-muted Patents
                        ul#patentList
                        li
                          |<b>(2014)</b>	-	Method and apparatus for automatic editing:
                          ul
                            li US20140153902A1
                            li EP2929456A1
                            li US9223781
                            li WO2014089362A1
                        li
                          |<b>(2011)</b> -   Processing of images to represent a transition in viewpoint:
                          ul
                            li EP2304690A2
                            li US20110229054
                            li CN102105906A
                            li WO2010010401A3
                        li
                          |<b>(2010)</b> -   Processing of images to represent a transition in viewpoint: GB2462095A
                    h3.text-muted Publications
                    p Reviewed papers for: GlobalSIP, ICASSP, SSPD, TCSVT, EUSIPCO, IEEE Transactions on Image Processing.
                        ul#paperlist
                          li <b>J. Pearson</b>  Plenoptic layer-based Modeling for image based rendering (Thesis) <a href='assets/doc/James_Pearson_thesis_Plenoptic_Layer_Based_Modeling.pdf'>[pdf]</a>
                          li M. Visentini-Scarzanella, <b>J. Pearson</b> & P. L. Dragotti <b>“Tilted layer-based modeling for enhanced light-field processing and image based rendering”</b> Proc. IEEE Int. Conf. On Image Processing (ICIP), Paris,  2014 <a href='http://www.commsp.ee.ic.ac.uk/~pld/publications/PearsonICIP14.pdf'>[pdf]</a>
                          li <b>J. Pearson</b>, M. Brookes & P. L. Dragotti <b>"Plenoptic layer-based modelling for image based rendering"</b> IEEE Trans. on Image Processing Special Issue on 3D video, June 2013 <a href='http://www.commsp.ee.ic.ac.uk/~pld/publications/TIP_PearsonBD_13.pdf'>[pdf]</a>
                          li C. Gilliam, <b>J. Pearson</b>, M. Brookes & P. L. Dragotti,  <b>“Image based rendering with depth cameras: How many are needed?”</b> Proc. IEEE Int. Conf. Acoustic Speech & Signal Processing (ICASSP), Tokyo,  2012 <a href='http://www.commsp.ee.ic.ac.uk/~jpearson/pubs/ICASSP_2012.pdf'>[pdf]</a>
                          li <b>J. Pearson</b>, P. L. Dragotti & M. Brookes  <b>“Accurate non-iterative depth layer extraction algorithm for image based rendering”</b> Proc. IEEE Int. Conf. Acoustic Speech & Signal Processing (ICASSP), Prague, 2011 <a href='http://www.commsp.ee.ic.ac.uk/~jpearson/pubs/ICASSP_2011_James_Pearson.pdf'>[pdf]</a>

                .col-md-5
                    img.img-responsive(src='assets/images/camPath_50_0.png', alt='DENIM collage')
                    p.text-center 3D image interpolation using 2 key images and a grid of reference images.
                    br
                    :verbatim
                        <iframe width="420" height="315" src="https://www.youtube.com/embed/w1elFokBU2A" frameborder="0" allowfullscreen></iframe>
                    //img.featurette-image.img-responsive(src='assets/images/monkey_1.jpg', alt='Generic placeholder image')
            hr.featurette-divider
            // /END THE FEATURETTES

            // FOOTER
            footer
                p.pull-right
                    a(href='#') Back to top
                p.text-center
                    :verbatim
                        <a href="http://www.google.com/recaptcha/mailhide/d?k=01M_Etob5hRqk-Js91sEGXwQ==&amp;c=htbT0nzM02sWi8HbXdNKFCMDWOroKDGjXjLcfNa30oU=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d01M_Etob5hRqk-Js91sEGXwQ\x3d\x3d\x26c\x3dhtbT0nzM02sWi8HbXdNKFCMDWOroKDGjXjLcfNa30oU\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">Contact Me</a>
                p.pull-left
                    | © #{new Date().getFullYear()} James Pearson
        // /.container
        //
            Bootstrap core JavaScript

        // Placed at the end of the document so the pages load faster
        script(src='#{pathToAssets}/assets/js/jquery.js')
        script(src='#{pathToAssets}/dist/js/bootstrap.min.js')
        script(src='#{pathToAssets}/assets/js/holder.js')
        script
          $(document).ready(function () {
            $("input#submit").click(function(){
              $.ajax({
              type: "POST",
              url: "/contact", //process to mail
              data: $('form.contact').serialize(),
                success: function(msg){
                  $("input#submit").hide()
                  $("#emailResponse").addClass('label label-success').html(msg) //hide button and show thank you
                  //$("#myModal").modal('hide'); //hide popup
                },
                error: function(msg){
                  $("#emailResponse").addClass('label label-danger').html(msg) //hide button and show thank you
                }
              });
            });
          });
        script
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-23512394-2', 'auto');
          ga('send', 'pageview');
