doctype 5
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='')
        meta(name='author', content='')
        link(rel='shortcut icon', href='#{pathToAssets}/assets/ico/favicon.png')
        title James Pearson's website

        // Bootstrap core CSS
        link(href='#{pathToAssets}/dist/css/bootstrap.css', rel='stylesheet')

        // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
        //if lt IE 9
              script(src='#{pathToAssets}/assets/js/html5shiv.js')
              script(src='#{pathToAssets}/assets/js/respond.min.js')

        // Custom styles for this template
        link(href='#{pathToSelectedTemplateWithinBootstrap}/carousel.css', rel='stylesheet')
    //
        NAVBAR
    body
        .navbar-wrapper
            .container
                .navbar.navbar-inverse.navbar-static-top
                    .container
                        .navbar-header
                            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            a.navbar-brand(href='#') James Pearson
                        .navbar-collapse.collapse
                            ul.nav.navbar-nav
                                li.active
                                    a(href='#') Home
                                li
                                    a(href='about') Academia
                                li
                                    a(href='contact') Contact

        //
            Carousel
        #myCarousel.carousel.slide
            // Indicators
            ol.carousel-indicators
                li.active(data-target='#myCarousel', data-slide-to='0')
                li(data-target='#myCarousel', data-slide-to='1')
                li(data-target='#myCarousel', data-slide-to='2')
            .carousel-inner
                .item.active
                    img(src='assets/images/origami_ghost.jpg', alt='First slide', max-width= 'none')
                    .container
                        .carousel-caption
                            h1 Computer Vision.
                            p
                                | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                            p
                                a.btn.btn-large.btn-primary(href='#about') About
                .item
                    img(src='assets/images/food.jpg', alt='Second slide', max-width= 'none')
                    .container
                        .carousel-caption
                            h1 Food.
                            p
                                | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                            p
                                a.btn.btn-large.btn-primary(href='https://jinsanadventure.wordpress.com/') Food
                .item
                    img(src='assets/images/ele.jpg', alt='Second slide', max-width= 'none')
                    .container
                        .carousel-caption
                            h1 Travel.
                            p
                                | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                            p
                                a.btn.btn-large.btn-primary(href='https://jinsanadventure.wordpress.com/') Travel blog
            a.left.carousel-control(href='#myCarousel', data-slide='prev')
                span.glyphicon.glyphicon-chevron-left
            a.right.carousel-control(href='#myCarousel', data-slide='next')
                span.glyphicon.glyphicon-chevron-right
            // /.carousel
        //
            Marketing messaging and featurettes

        // Wrap the rest of the page in another container to center all the content.
        .container.marketing

            // Three columns of text below the carousel
            .row
                .col-lg-4
                    img.img-circle(src='assets/images/jump.jpg', alt='Generic placeholder image')
                    h2 About me
                    p
                        | I enjoy programming, cooking and eating food. And many other things.
                    p
                        a.btn.btn-default(href='#about') View details »
                // /.col-lg-4

                .col-lg-4
                    img.img-circle(src='assets/images/vyclone.png', alt='Generic placeholder image')
                    h2 What I do
                    p
                        | Previously I am a senior researcher at
                        | <a href="http://vyclone.com">Vyclone</a>
                        | working with video as well as developing with server-side NodeJS. Before that I was a PhD researcher at
                        | <a href="http://www3.imperial.ac.uk/electricalengineering">Imperial College London</a>.

                    p
                        a.btn.btn-default(href='#what') View details »
                // /.col-lg-4

                .col-lg-4
                    img.img-circle(src='assets/images/patent.jpg', alt='Generic placeholder image')
                    h2 Publications and patents
                    p
                        | I have a series of academic publications and several commercial patents.
                    p
                        a.btn.btn-default(href='#papers') View details »
                // /.col-lg-4
            // /.row
            a#about
            // START THE FEATURETTES
            hr.featurette-divider
            .row.featurette
                .col-md-7
                    h2.featurette-heading
                        | About Me.&nbsp;
                        span.text-muted Mostly work I've done.
                    p.lead
                        | I've worked in a variety of small and medium firms as well as some contract work. I have finished a PhD in 3D computer vision.
                        h3.text-muted Employment record
                        ul#Employment
                              li <b>(Nov 2014 – Present)</b> Working for Tido-music as a contractor
                              li <b>(2013 -  Oct 2014)</b> Working as Chief Video Scientist/ CTO (2014) at Vyclone Inc
                              li <b>(2012)</b> Working with Rumpus Room on the DENIM project for Selfridges
                              li <b>(2012)</b> Industrial experience (2 months) at Vyclone Inc
                              li <b>(2011)</b>  Computer Systems Administrator CSP Research group – Web/File servers
                              li <b>(2010 - 2011)</b>	PhD Student Representative, Staff/Student liaison
                              li <b>(2010)</b> Working on 3D Image Based Rendering computer vision project at Imperial
                              li <b>(2008)</b> Worked for Snell Ltd during holidays on joint government project with the BBC, Surrey University and Hawkeye
                              li <b>(2005 - 2007)</b> Worked for Snell Ltd during University holidays
                              li <b>(2004 - 2005)</b> Worked during gap year in Algorithms Group (R&D) for Snell Ltd (formally Snell and Wilcox)
                .col-md-5
                    img.featurette-image.img-responsive(src='assets/images/hallasan_1.jpg', alt='Generic placeholder image')
            hr.featurette-divider
            a#what
            .row.featurette
                .col-md-5
                    img.featurette-image.img-responsive(src='assets/images/hallasan_2.jpg', alt='Generic placeholder image')
                .col-md-7
                    h2.featurette-heading
                        | What I do.&nbsp;
                        span.text-muted Mostly program.
                    p.lead
                        | I program professionally and for fun, recently I have been doing a lot of work on large scale architecture with NodeJS and Mongo but my true love is Computer Vision and video compression.
                    h3.text-muted Some recent Projects
                    p
                      | <b>(2014) Vyclone</b> As CTO of Vyclone I further developed the architecture and provided the technical direction of the company. I was the technical lead on a collaboration with FOX developing an interactive tie-in for their So You Think You Can Dance show (9 million viewers) allowing viewers at home to film themselves dancing with stars from the show and the producers to pick the best of the submitted videos to show during the following weeks show.
                    p
                      |Worked with the BBC (Internationally renowned Public Broadcaster) on making the world largest simultaneous music video with thousands of people all around the world contributing on a live radio broadcast on the show Dan and Phil. Worked with Sony, One Direction, Madonna, Ed Sheeran on large crowd sourced music videos and promotions.
                    p  <b>(2012) DENIM</b> (Working with the Rumpus Room for Selfridges) I was tasked with developing an ambitious multi-camera synthesis algorithm for a photo-shoot for Selfridges upcoming DENIM line. I was tasked to develop an algorithm to take all the user generated content from members of the public and using 3D image triangulation and manipulation stitch them together into a coherent patchwork for the final publicity shot.
            hr.featurette-divider
            a#papers
            .row.featurette
                .col-md-7
                    h2.featurette-heading
                        | Papers&nbsp;
                        span.text-muted and patents.
                    p.lead
                        ul#patentList
                        li
                          |<b>(2013)</b>	-	Method and apparatus for automatic editing (Pending) : U.S. Patent Application No. 14/098,206
                        li
                          |<b>(2011)</b> -   Processing of images to represent a transition in viewpoint:
                          ul
                            li EP2304690A2
                            li US20110229054
                            li CN102105906A
                            li WO2010010401A3
                        li
                          |<b>(2010)</b> -   Processing of images to represent a transition in viewpoint: GB2462095A
                        h3.text-muted Papers
                        p Reviewed papers for : GlobalSIP, ICASSP, SSPD, TCSVT, EUSIPCO
                          ul#paperlist
                            li M. Visentini-Scarzanella, <b>J. Pearson</b> & P. L. Dragotti <b>“Tilted layer-based modeling for enhanced light-field processing and image based rendering”</b> Proc. IEEE Int. Conf. On Image Processing (ICIP), Paris,  2014
                            li <b>J. Pearson</b>, M. Brookes & P. L. Dragotti <b>"Plenoptic layer-based modelling for image based rendering"</b> IEEE Trans. on Image Processing Special Issue on 3D video, June 2013
                            li C. Gilliam, <b>J. Pearson</b>, M. Brookes & P. L. Dragotti,  <b>“Image based rendering with depth cameras: How many are needed?”</b> Proc. IEEE Int. Conf. Acoustic Speech & Signal Processing (ICASSP), Tokyo,  2012
                            li <b>J. Pearson</b>, P. L. Dragotti & M. Brookes  <b>“Accurate non-iterative depth layer extraction algorithm for image based rendering”</b> Proc. IEEE Int. Conf. Acoustic Speech & Signal Processing (ICASSP), Prague, 2011
                .col-md-5
                    img.featurette-image.img-responsive(src='assets/images/monkey_1.jpg', alt='Generic placeholder image')
            hr.featurette-divider
            // /END THE FEATURETTES

            // FOOTER
            footer
                p.pull-right
                    a(href='#') Back to top
                p
                    | © 2015 James Pearson.
        // /.container
        //
            Bootstrap core JavaScript


        // Placed at the end of the document so the pages load faster
        script(src='#{pathToAssets}/assets/js/jquery.js')
        script(src='#{pathToAssets}/dist/js/bootstrap.min.js')
        script(src='#{pathToAssets}/assets/js/holder.js')
